:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("https://res.cloudinary.com/dkgl9ogsc/image/upload/v1720185178/UniBurgerIMGS/ctz1wfbzysygozb1ez3t.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(229, 217, 45, 1);
  color: black;
  cursor: pointer;
  transition: 0.1s;
}
button:hover {
  opacity: 0.7;
  transform: scale(0.95);
}
input {
  all: unset;
  background-color: rgba(255, 255, 255, 0.293);
  padding: 10px;
  height: 20px;
  color: rgba(229, 217, 45, 1);
  border-bottom: 4px solid rgba(229, 217, 45, 1);
}
input::placeholder {
  color: rgba(229, 217, 45, 0.418); /* Cambia este color al que prefieras */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
